<%- include("../user/layouts/header") %>

<div class="banner-top">
    <div class="container">
        <h1>Contact</h1>
        <em></em>
        <h2><a href="index.html">Home</a><label>/</label>Contact</h2>
    </div>
</div>

<div class="contact">
    <div class="contact-form ">
        <div class="container">
            <div class="col-md-12 contact-left">
                <h3>Feel free to contact us here</h3>
                <div class="address">
                    <div class=" address-grid">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <div class="address1">
                            <h3>Address</h3>
                            <p>Bubbles Kids Store, Meppadi, Wayanad</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" address-grid ">
                        <i class="glyphicon glyphicon-phone"></i>
                        <div class="address1">
                            <h3>Our Phone:<h3>
                                    <p>9605633278</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" address-grid ">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <div class="address1">
                            <h3>Email:</h3>
                            <p><a href="mailto:info@example.com"> bubbleskidsstore@gmail.com</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class=" address-grid ">
                        <i class="glyphicon glyphicon-bell"></i>
                        <div class="address1">
                            <h3>Open Hours:</h3>
                            <p>Monday-Saturday, 9AM-9PM</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="map container">
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15635.729596317806!2d76.11712076178138!3d11.556703949754452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba60d8065b08b51%3A0x868b608ead7a5d8d!2sBubbles%20Kids%20N%20Ladies!5e0!3m2!1sen!2sin!4v1708400472441!5m2!1sen!2sin"
        ></iframe>
    </div>
</div>


<%- include("../user/layouts/footer") %>


</body>

</html>