<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style4.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="container">
		<div class="login">
			<form action="/send-OTP" method="post">
			<div class="col-md-12 login-do">
                <h3>Enter your registered Email address </h3>
				<div class="login-mail">
					<input type="text" placeholder="Email" name="userEmail" required="">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<label class="hvr-skew-backward">
					<input type="submit" value="send OTP">
				</label>
                <%  if(locals.message){ %>
					<div style="color: red;" >  <%= message %> </div>
				  <% } %>
			</div>
			</form>
		</div>
</div>
</body>
</html>