<%- include("../user/layouts/header") %>

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your profile for tracking your orders</strong> </p>
    <hr>
    <p>
      Please track your orders here <a href="/orders">View orders</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  </div>

<%- include("../user/layouts/footer") %>

<script src="/js/simpleCart.min.js"> </script>

<script src="/js/bootstrap.min.js"></script>
</body>

</html>