<%- include("../user/layouts/header") %>


<!--banner-->
<div class="banner-top">
	<div class="container">
		<h1>Login</h1>
		<em></em>
		<h2><a href="index.html">Home</a><label>/</label>Login</h2>
	</div>
</div>
<!--login-->
<div class="container">
		<div class="login">
			<form action="/login" method="post">
			<div class="col-md-6 login-do">
				<div class="login-mail">
					<input type="text" placeholder="Email" name="userEmail" required="">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" name="userPassword" required="">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				   
				<label class="hvr-skew-backward">
					<input type="submit" value="login">
				</label>
				<div><a href="/reset-password-email"   style="cursor: pointer; "  class="text-danger link-info ">Forgot Password?</a></div>
				<%  if(locals.message){ %>
					<div style="color: red;" >  <%= message %> </div>
				  <% } %>
			</div>
			<div class="col-md-6 login-right">
				 <h3>New user</h3>
				 
				 <p>Dont have an account? Create a new account here.</p>
				<a href="/register" class=" hvr-skew-backward">Register</a>

			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>
</div>
<script>
	function sendOTP(){
		$('#sendOTPBtn').toggle();
	}
</script>

<!--//login-->
<%- include("../user/layouts/footer") %>


</body>

</html>