<%- include("../user/layouts/header") %>

	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Register</h1>
			<em></em>
			<h2><a href="index.html">Home</a><label>/</label>Register</h2>
		</div>
	</div>
	<!--login-->
	<div class="container">
		<div class="login">
			<form action="/register" method="post">
				<div class="col-md-6 login-do">
					<div class="login-mail">
						<input type="text"  id="userName" placeholder="Full Name" required="" name="userName">
						<i class="glyphicon glyphicon-user"></i>
						<div id="userNameAlert" hidden  style="color: red;">User Name cannot be blank</div>
					</div>
					<div class="login-mail">
						<input type="text" onchange="validatePhoneNUmber()" id="phoneNumber" placeholder="Phone Number" name="userPh" required="">
						<i class="glyphicon glyphicon-phone"></i>
						<div id="phoneNumberAlert"  hidden  style="color: red;">Enter a valid Phone Number</div>
					</div>
					<div class="login-mail">
						<input type="text" onchange="validateEmail()" id="userEmail" placeholder="Email" name="userEmail" required="">
						<% if(locals.refferalCode){ %>
							<input type="hidden" value="<%= refferalCode %>" name="refferalCode">
						<% } %>
						<input type="hidden" >
						<i class="glyphicon glyphicon-envelope"></i>
						<div id="userEmailAlert" hidden  style="color: red;">Enter a valid mail address</div>
					</div>
					
					<div class="login-mail">
						<input type="password"  id="password" placeholder="Password" name="userPassword" required="">
						<i class="glyphicon glyphicon-lock"></i>
						<div id="passwordAlert" hidden style="color: red;">Password should contain any of these charectors (!@#$%^&*) and must be 6 letters</div>
					</div>
					<% if(locals.message){ %>
						<div style="color: red;">
							<%= message %>
						</div>
					<% } %>
					<label class="hvr-skew-backward">
						<input id="submitBtn" type="submit" value="Get OTP">
					</label>
				</div>
				<div class="col-md-6 login-right">
					<h3>Existing user</h3>

					<p>Already have an account? Login here</p>
					<a href="/login" class="hvr-skew-backward">Login</a>
				</div>
				<div class="clearfix"> </div>
			</form>
		</div>
	</div>
	<%- include("../user/layouts/footer") %>
	<script>
		function notBlank(value){
			if(value.trim() == '') return false;
			if(value.trim()!== '') return true;
		}

		function validateEmail(){
			let inputMail = $('#userEmail').val();
			let mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;		
			if(mailformat.test(inputMail) && notBlank(inputMail)){
				$('#userEmailAlert').prop('hidden',true)
				return true;		
			}else{
				$('#userEmailAlert').prop('hidden',false)
				return false;
			}
		}

		function validatePhoneNUmber(){
			let inputNumber = $('#phoneNumber').val();
			const phNumRegex = /^(?!([0-9])\1+$)\d+$/
			if(inputNumber.length>9 && inputNumber.length<=15 && notBlank(inputNumber) && phNumRegex.test(inputNumber)){
				$('#phoneNumberAlert').prop('hidden',true);
				return true;
			}else{
				$('#phoneNumberAlert').prop('hidden',false);
				return false;
			}
		}

		$('#password').on('change',function validatePassword(){
			const validPassword = /^(?=.*[a-zA-Z0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,}$/;
			const inputPassword = $('#password').val();
			if(validPassword.test(inputPassword) && notBlank(inputPassword)){
				$('#passwordAlert').prop('hidden',true);
				return true;
			}else{
				$('#passwordAlert').prop('hidden',false);
				return false;
			}
		})

		$('#userName').on('change',function validateUserName(){
			let name = $('#userName').val()
			if(notBlank(name)){
				$('#userNameAlert').prop('hidden',true);
				return true;
			}else{
				$('#userNameAlert').prop('hidden',false);
				return false;
			}		
		})
	</script>

		<script src="/js/simpleCart.min.js"> </script>
		<!-- slide -->
		<script src="/js/bootstrap.min.js"></script>

		</body>

		</html>