
	<!--//content-->
	<!--//footer-->
		<div class="container">
			<div class="brand">
				<div class="col-md-3 brand-grid">
					<img src="/images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="/images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="/images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="/images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-middle">
				<div class="container">
					<div class="col-md-3 footer-middle-in">
						<a href="/"><img src="/images/logo.png" alt=""></a>
						
					</div>
					
					<div class="col-md-3 footer-middle-in">
						<h6>Information</h6>
						<ul class=" in">
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="/contact">Site Map</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<p class="footer-class">&copy; 2024 Bubbles. All Rights Reserved | Design by  Ahammed Zulaikh </p>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>

		


