



<nav class="nav nav-borders">
    <a class="nav-link active ms-0" style="text-decoration: none;" href="/user-profile" >Profile</a>
    <a class="nav-link" style="text-decoration: none;" href="/orders" >Orders</a>
    <a class="nav-link" style="text-decoration: none;" href="/wallet" >Wallet</a>
</nav>
<hr class="mt-0 mb-4">